
  *{
    margin:0;
    box-sizing: border-box;

  }
  body{
    background: linear-gradient(35deg, rgba(114, 64, 114, 1), rgba(152, 86, 152, 1),rgba(204, 171, 204, 1) );
    margin: auto;
  }
  nav{
    background-color: white;
    display: flex;
    justify-content:space-around;
    border-bottom: 4px solid rgba(114, 64, 114, 1);
    padding-top: 5px;
  }

h1{
  font-family: 'Bebas Neue', cursive;
}
  #home-link{
    color:white;
    text-decoration:none;
    border-radius: 10px 10px 0px 0px;
    font-family: 'Neonderthaw', cursive;
    padding: 10px 10px 0px 10px;
    background: linear-gradient(35deg,rgba(114, 64, 114, 1), rgba(152, 86, 152, 1),rgba(204, 171, 204, 1) );
  }

  .logo-page{
    color:white;
    font-size: 30px;
    background-color: white;
  }


  .page-link{
    display: flex;
    align-items: flex-end;
  }

  .nav-link{
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 20px;
    padding: 20px 50px 0px 50px;
    margin: 0px 50px;
    text-decoration:none;
    background-color:  #4791d0;
    border-radius: 30px 30px 0px 0px;
    height: 0px;
  }

  .nav-link.bio{
    background: linear-gradient(35deg,rgba(153, 99, 47, 1), rgba(205, 133, 63, 1),rgba(230, 194, 160, 1) );

  }

  .nav-link.portfolio{
    background: linear-gradient(35deg,rgba(114, 64, 114, 1), rgba(152, 86, 152, 1),rgba(204, 171, 204, 1) );
    color:white;
    border-radius: 30px 30px 0px 0px;
    height: 50px;

  }

  .nav-link.contacts{
    background: linear-gradient(   35deg,rgba(25, 84, 134, 1), rgba(34, 113, 179, 1),rgba(145, 185, 217, 1) )
  }

  .nav-link.bio:hover,
  .nav-link.contacts:hover{
    color:white;
    /* animazione cambio colore */
    animation-name: link-height;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes link-height {
   0%{
      height: 0px;
   }
    100% {
      height: 50px;
    }
  }

  #profile-photo{
    height:80px;
    border-radius: 50px;
    border: 4px solid rgba(114, 64, 114, 1);
  }
  .mobile-nav{
    display: none;
  }
main{
  text-align: center;
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#works-section ,
#exercises-section {
  border: 4px solid rgba(114, 64, 114, 1);
  border-radius: 10px;
  padding: 50px;
  width:90%;

}
  #works-section h1,
  #exercises-section h1{
    font-size: 30px;
  }
  #works-section{
    margin: 50px 0px;
  }

  #exercises-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    #exercises-section a{
      text-decoration: none;
    }
 /* presentazione esercitazioni */
  .box-work{
    width:50vw;
    height: 50vh;
    border: 1px solid black;
    margin: 30px 0px;
    border: 4px solid rgba(114, 64, 114, 1);
    border-radius: 10px;
  }

  .box-explanation{
    visibility: hidden;
    padding: 50px;
    color: white;
    border-radius: 5px 5px 0px 0px;
    font-size: 20px;
  }

.box-work:hover > .box-explanation{
    visibility: visible;
    /* background: linear-gradient(35deg,rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); */
    background: linear-gradient(35deg,rgba(114, 64, 114, 0.9), rgba(152, 86, 152, 0.9),rgba(204, 171, 204, 0.9) );
  }

/* tribute page background */
.box-work.one{
  background:url("../assets/img/Cattura4.JPG");
  background-size: cover;
}

/* survey form background */
.box-work.two{
  background:url("../assets/img/Cattura.JPG");
  background-size: cover;
}
/* landing page background */
.box-work.three{
  background:url("../assets/img/Cattura3.JPG");
  background-size: cover;
}
/* portfolio background */
.box-work.four{
  background:url("../assets/img/Cattura2.JPG");
  background-size: cover;
}




footer{
  font-family: 'Bebas Neue', cursive;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding:20px;
  width: 100%;
}

footer a{
  color: white;
  text-decoration: none;
}

footer a:hover{
  color:red;
}

footer p{
  color: black;
}


/* Mobile Styles */
@media only screen and (max-width:1200px) {
nav{
  display: none;
}
.mobile-nav{
  display: block;
  text-align: center;
}

.logo-page{
  font-size: 25px;
}
.mobile-link{
padding:20px;
text-decoration: none;
color:white;
display:block;
}

.page-link{
display: flex;
justify-content: center;
}

.mobile-link.bio{
  background: linear-gradient(35deg,rgba(153, 99, 47, 1), rgba(205, 133, 63, 1),rgba(230, 194, 160, 1) );
  border-radius: 0px 0px 0px 30px;
}

.mobile-link.portfolio{
  background: linear-gradient(35deg,rgba(114, 64, 114, 1), rgba(152, 86, 152, 1),rgba(204, 171, 204, 1) );
}

.mobile-link.contacts{
  background: linear-gradient(   35deg,rgba(25, 84, 134, 1), rgba(34, 113, 179, 1),rgba(145, 185, 217, 1) );
  border-radius: 0px 0px 30px 0px;
}

.box-work{
  width: 100%;
  height: 100%;
}


}
